* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
}

body {
  height: 100vh;
  background: #343d4b;
}

#root {
  display: flex;
  height: 100%;
  padding: 2em;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: max-content;
  padding: 1em;
  margin: 0 auto;
  border-radius: 2em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
              0 2px 4px rgba(0,0,0,0.07),
              0 4px 8px rgba(0,0,0,0.07);
  background: linear-gradient(131deg, rgba(144, 217, 224, 0.90) 0%, rgba(84, 96, 230, 0.90) 100%);
}

.switch-thumb.celsius::after {
  content: 'C';
}

.switch-thumb::after {
  content: 'F';
  color: #fff;
  font-size: 0.55em;
}

.toggle {
  width: 42px;
  height: 25px;
  border: none;
  border-radius: 5em;
  background-color: rgba(255, 255, 255, 0.9);
}

.toggle[data-state='checked'] {
  background-color: rgba(255, 255, 255, 0.7);
}

.switch-thumb {
  display: flex;
  width: 21px;
  height: 21px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5em;
  transform: translateX(2px);
  transition: transform 100ms;
  will-change: transform;
  background: linear-gradient(131deg, rgba(144, 217, 224, 0.90) 0%, rgba(84, 96, 230, 0.90) 100%);
}

.switch-thumb[data-state='checked'] {
  transform: translateX(19px);
}

header form {
  position: relative;
  display: flex;
  align-items: center;
}

header form input {
  padding: 0.7em;
  border: 1px solid #fff;
  border-radius: 5em;
  background: 0;
}

header form input::placeholder {
  color: #fff;
  opacity: 0.9;
}

header form button:disabled {
  background: rgba(255, 255, 255, 0.3);
}

header form button {
  position: absolute;
  display: flex;
  height: 1.5em;
  width: 1.5em;
  inset: 50% 5% auto auto;
  translate: 0% -50%;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 5px rgba(255,255,255,.1);
  color: rgba(84, 96, 230, 0.9);
}

.weather-data-container {
  display: flex;
  margin: auto;
  color: #fff;
}

.left-container.loader {
  margin: auto;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 21em;
  height: 30em;
  border-radius: 2em;
  background: linear-gradient(136deg, rgba(136, 235, 239, 0.6) 0%, rgba(83, 91, 230, 0.8) 100%), url('/src/assets/images/background.png');
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
              0 2px 4px rgba(0, 0, 0, 0.1),
              0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.left-container .general-data {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.general-data h2 {
  font-weight: 700;
  font-size: 1.7em; 
}

.general-data .date {
  font-size: 1em;
  font-weight: 500;
}

.general-data .city {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 0.9em;
  font-weight: 600;
}

.main-forecast-data {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.main-forecast-data svg {
  font-size: 3em;
}

.main-forecast-data .degrees::after {
  content: '°F';
}

.main-forecast-data .celsius::after {
  content: '°C';
}

.main-forecast-data .degrees {
  font-size: 3em;
}

.main-forecast-data .description {
  font-size: 1.3em;
  font-weight: 700;
}

.weather-data-container .right-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin: auto;
  padding: 3em;
  width: 19em;
  height: 26.5em;
  border-radius: 1.5625em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #222831;
}

.weather-data-container .right-container div {
  display: flex;
  justify-content: space-between;
}

.right-container div strong {
  font-weight: 700;
  font-size: 1.25em;
}

.right-container div span {
  font-weight: 500;
  font-size: 1.25em;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s infinite;
}

.loader::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.not-found {
  margin-top: 2em;
  text-align: center;
  color: #fff;
}

.search-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 1em;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.5em;
  font-size: 0.85em;
}

.search-list .title {
  color: #d6d2ea;
  padding: 0.2em 0;
}

.search-list div:not(.title) {
  padding: 0.2em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 8px;
  }
}